DATABASE_URL="postgresql://postgres:postgres@localhost:5432/urbanwatch"
DATABASE_SSL=false

AUTH_URL=http://localhost:3000/api/auth
AUTH_SECRET=
AUTH_DRIZZLE_URL="postgresql://postgres:postgres@localhost:5432/urbanwatch"
AUTH_TRUST_HOST=true # Because it's a dockerized environment. See: https://authjs.dev/getting-started/deployment#self-hosted

NEXT_PUBLIC_MAPBOX_API_KEY=
